<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoTQuotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1175D9011D7E395600C7C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1175D9151D7E395700C7C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1175D9201D7E395700C7C296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
